<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather for {{city}}</title>
    <link href="{{ url_for('static',filename='styles/weather.css') }}" rel="stylesheet">
</head>
<body>
    <p>City: {{city}} <br>Main: {{main}}<br>Temperature: {{temperature}}<br>Min: {{min}}<br>Max: {{max}}<br>Feels: {{feels}}<br>Description: {{description}}<br>Humidity: {{humidity}}<br>WindSpeed: {{wind_speed}}<br>Pressure: {{pressure}}<br>Sunrise: {{sunrise}}<br>Sunset: {{sunset}}<br>Timezone: {{timezone}}</p>
</body>
</html>